In [90]:
import os
import sys

os.environ['SPARK_HOME'] = 'C:\spark-2.1.1-bin-hadoop2.7'

# Create a variable for our root path
SPARK_HOME = os.environ['SPARK_HOME']

#Add the following paths to the system path. Please check your installation
#to make sure that these zip files actually exist. The names might change
#as versions change.
sys.path.insert(0,os.path.join(SPARK_HOME,"python"))
sys.path.insert(0,os.path.join(SPARK_HOME,"python","lib"))
sys.path.insert(0,os.path.join(SPARK_HOME,"python","lib","pyspark.zip"))
sys.path.insert(0,os.path.join(SPARK_HOME,"python","lib","py4j-0.10.4-src.zip")) #es el interprete entre java y python

#Initialize SparkSession and SparkContext
from pyspark.sql import SparkSession
from pyspark import SparkContext



#Create a Spark Session
MySparkSession = SparkSession.builder.config("spark.executor.memory", "6g").config("spark.cores.max","4").getOrCreate()
    

#Get the Spark Context from Spark Session    
MySparkContext = MySparkSession.sparkContext

### LOAD DATA

In [104]:
import pyspark.sql.types as typ
values = [
    ('ID', typ.IntegerType()),
    ('loan_amnt', typ.IntegerType()),
    ('term',typ.StringType() ),
    ('int_rate', typ.FloatType()),
    ('installment', typ.FloatType()),
    ('emp_length', typ.StringType()),
    ('home_ownership', typ.StringType()),
    ('annual_inc', typ.FloatType()),
    ('purpose', typ.StringType()),
    ('title', typ.StringType()),
    ('STATE', typ.StringType()),
    ('delinq_2yrs', typ.IntegerType()),
    ('revol_bal', typ.IntegerType()),
    ('revol_util',  typ.FloatType()),
    ('total_pymnt', typ.FloatType()),
    ('loan_status', typ.StringType())
]


schema = typ.StructType( [typ.StructField(e[0], e[1], True) for e in values] ) 

datos = MySparkSession.read.csv("C:/Users/rsalas/Documents/Master BIGDATA/Módulo 2- Arquitecturas de información\Machine Learning para Spark/homework/homework.csv",schema=schema, header=True,sep=";")

In [92]:
datos.take(5)

[Row(ID=2, loan_amnt=2500, term=' 60 months', int_rate=15.270000457763672, installment=59.83000183105469, emp_length='< 1 year', home_ownership='RENT', annual_inc=30000.0, purpose='car', title='bike', STATE='GA', delinq_2yrs=0, revol_bal=1687, revol_util=9.399999618530273, total_pymnt=1014.530029296875, loan_status='Charged Off'),
 Row(ID=4, loan_amnt=10000, term=' 36 months', int_rate=13.489999771118164, installment=339.30999755859375, emp_length='10+ years', home_ownership='RENT', annual_inc=49200.0, purpose='other', title='personel', STATE='CA', delinq_2yrs=0, revol_bal=5598, revol_util=21.0, total_pymnt=12231.8896484375, loan_status='Fully Paid'),
 Row(ID=5, loan_amnt=3000, term=' 60 months', int_rate=12.6899995803833, installment=67.79000091552734, emp_length='1 year', home_ownership='RENT', annual_inc=80000.0, purpose='other', title='Personal', STATE='OR', delinq_2yrs=0, revol_bal=27783, revol_util=53.900001525878906, total_pymnt=4066.908203125, loan_status='Fully Paid'),
 Row(ID=6, loan_amnt=5000, term=' 36 months', int_rate=7.900000095367432, installment=156.4600067138672, emp_length='3 years', home_ownership='RENT', annual_inc=36000.0, purpose='wedding', title='My wedding loan I promise to pay back', STATE='AZ', delinq_2yrs=0, revol_bal=7963, revol_util=28.299999237060547, total_pymnt=5632.2099609375, loan_status='Fully Paid'),
 Row(ID=7, loan_amnt=7000, term=' 60 months', int_rate=15.960000038146973, installment=170.0800018310547, emp_length='8 years', home_ownership='RENT', annual_inc=47004.0, purpose='debt_consolidation', title='Loan', STATE='NC', delinq_2yrs=0, revol_bal=17726, revol_util=85.5999984741211, total_pymnt=10137.83984375, loan_status='Fully Paid')]

In [93]:
summStats = datos.describe().toPandas()
print(summStats.iloc[1,1:])
print(summStats.iloc[1,1:].values)
print(summStats.iloc[1,1:].values.tolist())

ID                  19942.09615190724
loan_amnt          11218.509494202655
term                             None
int_rate           12.038773927446615
installment        324.23834499406564
emp_length                       None
home_ownership                   None
annual_inc          69044.82352768967
purpose                          None
title              117554.32432432432
STATE                            None
delinq_2yrs       0.14595314910927198
revol_bal          13350.529071398512
revol_util         48.856707514070294
total_pymnt        12143.791489107241
loan_status                      None
Name: 1, dtype: object
['19942.09615190724' '11218.509494202655' None '12.038773927446615'
 '324.23834499406564' None None '69044.82352768967' None
 '117554.32432432432' None '0.14595314910927198' '13350.529071398512'
 '48.856707514070294' '12143.791489107241' None]
['19942.09615190724', '11218.509494202655', None, '12.038773927446615', '324.23834499406564', None, None, '69044.82352768967', None, '117554.32432432432', None, '0.14595314910927198', '13350.529071398512', '48.856707514070294', '12143.791489107241', None]

In [5]:
datos.schema

StructType(List(StructField(ID,IntegerType,true),StructField(loan_amnt,IntegerType,true),StructField(term,StringType,true),StructField(int_rate,FloatType,true),StructField(installment,FloatType,true),StructField(emp_length,StringType,true),StructField(home_ownership,StringType,true),StructField(annual_inc,FloatType,true),StructField(purpose,StringType,true),StructField(title,StringType,true),StructField(STATE,StringType,true),StructField(delinq_2yrs,IntegerType,true),StructField(revol_bal,IntegerType,true),StructField(revol_util,FloatType,true),StructField(total_pymnt,FloatType,true),StructField(loan_status,StringType,true)))

In [8]:
datos.count()

29755

In [9]:
datos.columns

['ID',
 'loan_amnt',
 'term',
 'int_rate',
 'installment',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'purpose',
 'title',
 'STATE',
 'delinq_2yrs',
 'revol_bal',
 'revol_util',
 'total_pymnt',
 'loan_status']

In [10]:
datos.first()

Row(ID=2, loan_amnt=2500, term=' 60 months', int_rate=15.270000457763672, installment=59.83000183105469, emp_length='< 1 year', home_ownership='RENT', annual_inc=30000.0, purpose='car', title='bike', STATE='GA', delinq_2yrs=0, revol_bal=1687, revol_util=9.399999618530273, total_pymnt=1014.530029296875, loan_status='Charged Off')

In [11]:
datos.describe().show()

+-------+------------------+------------------+----------+------------------+------------------+----------+--------------+-----------------+-------+-------------------+-----+-------------------+------------------+------------------+------------------+-----------+
|summary|                ID|         loan_amnt|      term|          int_rate|       installment|emp_length|home_ownership|       annual_inc|purpose|              title|STATE|        delinq_2yrs|         revol_bal|        revol_util|       total_pymnt|loan_status|
+-------+------------------+------------------+----------+------------------+------------------+----------+--------------+-----------------+-------+-------------------+-----+-------------------+------------------+------------------+------------------+-----------+
|  count|             29755|             29755|     29755|             29755|             29755|     29755|         29755|            29755|  28526|              28517|28516|              28516|             28516|             28480|             28516|      29755|
|   mean| 19942.09615190724|11218.509494202655|      null|12.038773927446615|324.23834499406564|      null|          null|69044.82352768967|   null| 117554.32432432432| null|0.14595314910927198|13350.529071398512|48.856707514070294|12143.791489107241|       null|
| stddev|11462.221444945904| 7431.662873498601|      null|3.7257604598488445|207.83497930317557|      null|          null|66683.24081199306|   null|  673363.3478144147| null| 0.4856901246589267| 15948.46067741967|28.420651864946937|  9085.14670693502|       null|
|    min|                 2|               500| 36 months|              5.42|             15.69|    1 year|      MORTGAGE|           4000.0|    car|	debt_consolidation|   AK|                  0|                 0|               0.0|               0.0|Charged Off|
|    max|             39759|             35000| 60 months|             24.59|           1305.19|       n/a|          RENT|        6000000.0|wedding|              zxcvb|   WY|                  8|            149588|              99.9|         58886.473| Fully Paid|
+-------+------------------+------------------+----------+------------------+------------------+----------+--------------+-----------------+-------+-------------------+-----+-------------------+------------------+------------------+------------------+-----------+

## MISSING VALUES

In [94]:
#NaNs

from pyspark.sql.functions import isnan, when, count, col

datos.select([count(when(isnan(c), c)).alias(c) for c in datos.columns]).show()

+---+---------+----+--------+-----------+----------+--------------+----------+-------+-----+-----+-----------+---------+----------+-----------+-----------+
| ID|loan_amnt|term|int_rate|installment|emp_length|home_ownership|annual_inc|purpose|title|STATE|delinq_2yrs|revol_bal|revol_util|total_pymnt|loan_status|
+---+---------+----+--------+-----------+----------+--------------+----------+-------+-----+-----+-----------+---------+----------+-----------+-----------+
|  0|        0|   0|       0|          0|         0|             0|         0|      0|    0|    0|          0|        0|         0|          0|          0|
+---+---------+----+--------+-----------+----------+--------------+----------+-------+-----+-----+-----------+---------+----------+-----------+-----------+

In [109]:
#Nulos
datos2.select([count(when(col(c).isNull(), c)).alias(c) for c in datos2.columns]).show()
#Hay valores nulos,

+----+--------+-----------+----------+--------------+----------+-------+-----+-----------+---------+----------+-----------+-----------+--------+
|term|int_rate|installment|emp_length|home_ownership|annual_inc|purpose|STATE|delinq_2yrs|revol_bal|revol_util|total_pymnt|loan_status|coctotal|
+----+--------+-----------+----------+--------------+----------+-------+-----+-----------+---------+----------+-----------+-----------+--------+
|   0|       0|          0|         0|             0|         0|   1229| 1239|       1239|     1239|      1275|       1239|          0|    1239|
+----+--------+-----------+----------+--------------+----------+-------+-----+-----------+---------+----------+-----------+-----------+--------+

In [96]:
#¿qué porcentaje de unknown hay en cada columna?

import pyspark.sql.functions as fn

datos.agg(*[ (1 - (fn.count(c) / fn.count('*'))).alias(c + '_missing')
    for c in datos.columns ]).show()

#Eliminamos aquellas filas con más de 3 missing

datos_droped = datos.dropna(thresh=2)
datos_droped.count()

+----------+-----------------+------------+----------------+-------------------+------------------+----------------------+------------------+--------------------+--------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
|ID_missing|loan_amnt_missing|term_missing|int_rate_missing|installment_missing|emp_length_missing|home_ownership_missing|annual_inc_missing|     purpose_missing|       title_missing|      STATE_missing|delinq_2yrs_missing|  revol_bal_missing| revol_util_missing|total_pymnt_missing|loan_status_missing|
+----------+-----------------+------------+----------------+-------------------+------------------+----------------------+------------------+--------------------+--------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
|       0.0|              0.0|         0.0|             0.0|                0.0|               0.0|                   0.0|               0.0|0.041303982523945515|0.041606452697025675|0.04164006049403457|0.04164006049403457|0.04164006049403457|0.04284994118635521|0.04164006049403457|                0.0|
+----------+-----------------+------------+----------------+-------------------+------------------+----------------------+------------------+--------------------+--------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+

29755

In [119]:
#FEATURE ENGINEER
datos2 =datos.drop('ID').drop('title').withColumn('int_rate', fn.col('int_rate')*0.01).withColumn("coctotal", fn.col('total_pymnt')/fn.col('loan_amnt')).drop('total_payment').drop('loan_amnt')

In [120]:
#Eliminamos todas las filas con missing. Únicamente suponen el 4% del dataset

datos2 = datos2.filter(datos2.purpose.isNotNull()).filter(datos2.STATE.isNotNull()).filter(datos2.delinq_2yrs.isNotNull()).filter(datos2.revol_bal.isNotNull()).filter(datos2.revol_util.isNotNull()).filter(datos2.coctotal.isNotNull())

In [117]:
#Nulos
datos3.select([count(when(col(c).isNull(), c)).alias(c) for c in datos3.columns]).show()
#Hay valores nulos,

+----+--------+-----------+----------+--------------+----------+-------+-----+-----------+---------+----------+-----------+-----------+--------+
|term|int_rate|installment|emp_length|home_ownership|annual_inc|purpose|STATE|delinq_2yrs|revol_bal|revol_util|total_pymnt|loan_status|coctotal|
+----+--------+-----------+----------+--------------+----------+-------+-----+-----------+---------+----------+-----------+-----------+--------+
|   0|       0|          0|         0|             0|         0|      0|    0|          0|        0|         0|          0|          0|       0|
+----+--------+-----------+----------+--------------+----------+-------+-----+-----------+---------+----------+-----------+-----------+--------+

### coctotal

In [ ]:
datos2.toPandas()['coctotal'].value_counts()

In [ ]:
utilBal = fn.when(fn.col("coctotal").isNull() , 0).otherwise(fn.col("coctotal"))
datos = datos.withColumn("utilBal", utilBal)

### STATE

In [112]:
datos2.toPandas()['STATE'].value_counts()

CA    5074
NY    2773
FL    2105
TX    1977
NJ    1328
IL    1087
PA    1084
GA    1018
VA     998
MA     948
OH     868
MD     742
AZ     651
WA     595
CO     579
NC     567
CT     550
MI     535
MO     473
MN     435
NV     356
SC     341
WI     337
AL     321
OR     307
LA     294
KY     239
OK     202
KS     192
UT     172
AR     172
DC     152
RI     149
NM     145
NH     126
HI     125
WV     125
DE      75
MT      62
WY      59
AK      51
SD      43
VT      41
TN      14
MS      11
IN       6
IA       5
NE       3
ID       3
ME       1
Name: STATE, dtype: int64

In [99]:
utilBal = fn.when(fn.col("STATE").isNull() , 0).otherwise(fn.col("STATE"))
datos = datos.withColumn("utilBal", utilBal)

### revol_bal

In [101]:
utilBal = fn.when(fn.col("total_pymnt").isNull() , 0).otherwise(fn.col("total_pymnt"))
datos = datos.withColumn("utilBal", utilBal)

### delinq_2yrs

In [102]:
utilBal = fn.when(fn.col("delinq_2yrs").isNull() , 0).otherwise(fn.col("delinq_2yrs"))
datos = datos.withColumn("utilBal", utilBal)

### purpose

In [ ]:
utilBal = fn.when(fn.col("purpose").isNull() , 0).otherwise(fn.col("purpose"))
datos = datos.withColumn("utilBal", utilBal)

### revol_util

In [ ]:
utilBal = fn.when(fn.col("revol_util").isNull() , 0).otherwise(fn.col("revol_util"))
datos = datos.withColumn("utilBal", utilBal)

### EXPLORATORY DATA ANALYSIS

In [17]:
for col in datos2.columns:
    print(col, datos2.select(col).distinct().count())

loan_amnt 810
term 2
int_rate 364
installment 12534
emp_length 12
home_ownership 5
annual_inc 4130
purpose 14
title 14391
STATE 50
delinq_2yrs 9
revol_bal 17734
revol_util 1062
total_pymnt 26953
loan_status 2

In [ ]:
# Main statistics for numeric variables
desc = datos2.describe( [c for c in datos2.columns if c not in cat_vars] )
desc.show()

In [ ]:
#no se puede calcular correlacion con vectores
for i in model.columns:
    if not( isinstance(model.select(i).take(1)[0][0], str)) :
        print( "Correlation between loan_status_index and ", i, ' is ', model.stat.corr('loan_status_Index',i))

Loan_amnt vs installment vs total_pymnt están muy correlacionadas. La variable objetivo no está muy correlada con ninguna.

# PREPARE DATA FOR ML

La variable STATE nos va a dar problemas ya que tiene muchos niveles y algunos de ellos tienen pocas observaciones. Agrupamos estos en un nivel que agregue los que menos observaciones tienen

In [39]:
datos2.toPandas()['home_ownership'].value_counts()

RENT        13486
MORTGAGE    12731
OWN          2187
OTHER          64
NONE            3
Name: home_ownership, dtype: int64

In [21]:
datos2.toPandas()['STATE'].value_counts()

CA       5066
NY       2771
FL       2103
TX       1975
NJ       1324
IL       1086
PA       1082
GA       1018
VA        997
MA        947
OH        865
MD        741
AZ        648
WA        595
CO        578
NC        566
CT        550
MI        535
MO        472
MN        433
NV        356
SC        341
WI        337
AL        320
OR        306
LA        294
KY        239
OK        201
KS        191
PEQUE     177
UT        172
AR        171
DC        150
RI        149
NM        145
NH        126
WV        125
HI        124
DE         74
MT         62
WY         59
Name: STATE, dtype: int64

In [40]:
catSTATE = ['AK','SD','VT','TN','MS','IN','IA','NE','ID','ME','DE','MT','WY']
cathome_ownership = ['OTHER', 'NONE']

In [121]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType


state_udf = udf(lambda STATE: "PEQUE" if STATE in catSTATE else STATE, StringType())
home_ownership_udf = udf(lambda home_ownership: 'OTHER' if home_ownership in cathome_ownership else home_ownership, StringType())
datos2=datos2.withColumn("STATE", state_udf(datos2.STATE)).withColumn('home_ownership',home_ownership_udf(datos2.home_ownership))

In [122]:
datos2.toPandas()

,term,int_rate,installment,emp_length,home_ownership,annual_inc,purpose,STATE,delinq_2yrs,revol_bal,revol_util,total_pymnt,loan_status,coctotal
0,60 months,0.1527,59.830002,< 1 year,RENT,30000.0000,car,GA,0,1687,9.400000,1014.530029,Charged Off,0.405812
1,36 months,0.1349,339.309998,10+ years,RENT,49200.0000,other,CA,0,5598,21.000000,12231.889648,Fully Paid,1.223189
2,60 months,0.1269,67.790001,1 year,RENT,80000.0000,other,OR,0,27783,53.900002,4066.908203,Fully Paid,1.355636
3,36 months,0.0790,156.460007,3 years,RENT,36000.0000,wedding,AZ,0,7963,28.299999,5632.209961,Fully Paid,1.126442
4,60 months,0.1596,170.080002,8 years,RENT,47004.0000,debt_consolidation,NC,0,17726,85.599998,10137.839844,Fully Paid,1.448263
5,36 months,0.1864,109.430000,9 years,RENT,48000.0000,car,CA,0,8221,87.500000,3939.135254,Fully Paid,1.313045
6,60 months,0.1269,121.449997,< 1 year,RENT,15000.0000,other,TX,0,9279,36.500000,1484.589966,Charged Off,0.276203
7,60 months,0.1465,153.449997,5 years,OWN,72000.0000,debt_consolidation,AZ,0,4032,20.600000,7678.017578,Fully Paid,1.181233
8,36 months,0.1269,402.540009,10+ years,OWN,75000.0000,debt_consolidation,CA,0,23336,67.099998,13947.989258,Fully Paid,1.162332
9,36 months,0.0991,96.680000,3 years,RENT,15000.0000,credit_card,IL,0,7323,43.099998,3480.270020,Fully Paid,1.160090
10,36 months,0.1629,35.310001,< 1 year,RENT,28000.0000,debt_consolidation,MO,0,6524,81.500000,1270.716919,Fully Paid,1.270717
11,36 months,0.1527,347.980011,4 years,RENT,42000.0000,home_improvement,CA,0,24043,70.199997,12527.150391,Fully Paid,1.252715
12,36 months,0.1171,198.460007,1 year,MORTGAGE,84000.0000,medical,UT,2,0,37.730000,7167.072754,Fully Paid,1.194512
13,36 months,0.0603,280.010010,6 years,RENT,77385.1875,debt_consolidation,CA,0,7314,23.100000,9460.000977,Fully Paid,1.028261
14,60 months,0.1527,484.630005,3 years,RENT,43370.0000,debt_consolidation,TX,0,17813,85.599998,27679.050781,Fully Paid,1.366867
15,36 months,0.1242,701.729980,10+ years,RENT,105000.0000,debt_consolidation,FL,0,32135,90.300003,14034.599609,Charged Off,0.668314
16,36 months,0.1171,330.760010,10+ years,OWN,50000.0000,credit_card,TX,0,10056,82.400002,11907.349609,Fully Paid,1.190735
17,36 months,0.1171,330.760010,5 years,RENT,50000.0000,debt_consolidation,CA,0,17800,91.800003,11540.891602,Fully Paid,1.154089
18,36 months,0.1171,198.460007,1 year,RENT,76000.0000,major_purchase,CA,0,5963,29.700001,2055.850098,Charged Off,0.342642
19,60 months,0.1677,123.650002,2 years,RENT,50004.0000,other,PA,3,4345,59.500000,1611.160034,Charged Off,0.322232
20,36 months,0.1171,281.149994,< 1 year,RENT,25000.0000,credit_card,MN,0,6441,59.099998,10126.088867,Fully Paid,1.191305
21,36 months,0.0790,995.820007,5 years,MORTGAGE,75000.0000,debt_consolidation,NJ,0,23151,27.400000,34886.914062,Fully Paid,1.096211
22,36 months,0.0890,158.770004,2 years,RENT,24044.0000,debt_consolidation,OR,0,2224,29.299999,5715.560059,Fully Paid,1.143112
23,36 months,0.0790,469.359985,1 year,RENT,45000.0000,debt_consolidation,OH,0,6704,50.400002,16663.343750,Fully Paid,1.110890
24,36 months,0.1242,200.500000,1 year,RENT,36852.0000,debt_consolidation,AZ,0,7310,66.500000,7127.722168,Fully Paid,1.187954
25,60 months,0.1269,282.440002,1 year,RENT,27000.0000,debt_consolidation,IL,0,10143,50.000000,16945.875000,Fully Paid,1.355670
26,36 months,0.0751,298.670013,4 years,RENT,68004.0000,other,SC,0,2896,18.100000,10751.870117,Fully Paid,1.119986
27,36 months,0.0790,375.489990,10+ years,RENT,62300.0000,debt_consolidation,NJ,0,8601,21.000000,13517.360352,Fully Paid,1.126447
28,36 months,0.0991,451.149994,6 years,RENT,80000.0000,small_business,MA,0,2219,13.400000,16241.379883,Fully Paid,1.160099
29,36 months,0.0890,158.770004,10+ years,MORTGAGE,100000.0000,debt_consolidation,OH,0,74351,62.099998,5028.870117,Charged Off,1.005774
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28450,36 months,0.0964,128.410004,< 1 year,OTHER,100000.0000,other,CA,0,8155,14.900000,4622.489258,Fully Paid,1.155622
28451,36 months,0.0870,88.650002,< 1 year,OTHER,120000.0000,other,MA,0,8155,14.900000,3191.218506,Fully Paid,1.139721
28452,36 months,0.0775,93.669998,9 years,OWN,50000.0000,vacation,WA,0,21050,0.700000,3125.435791,Fully Paid,1.041812
28453,36 months,0.1091,130.789993,1 year,RENT,18000.0000,car,VA,0,5533,79.599998,4708.070801,Fully Paid,1.177018
28454,36 months,0.0870,63.320000,< 1 year,RENT,70000.0000,credit_card,NY,0,5967,19.799999,2279.429932,Fully Paid,1.139715
28455,36 months,0.0743,124.309998,< 1 year,RENT,40000.0000,educational,NJ,0,330,11.000000,4474.375977,Fully Paid,1.118594
28456,36 months,0.1501,225.369995,9 years,MORTGAGE,213000.0000,small_business,GA,0,56411,75.300003,4056.669922,Charged Off,0.624103
28457,36 months,0.0996,257.989990,3 years,RENT,48000.0000,debt_consolidation,MD,0,11289,47.799999,9199.512695,Fully Paid,1.149939
28458,36 months,0.0743,155.380005,< 1 year,MORTGAGE,70000.0000,credit_card,AZ,0,813,1.000000,5495.826172,Fully Paid,1.099165
28459,36 months,0.0775,156.110001,1 year,MORTGAGE,225000.0000,home_improvement,WI,0,2160,2.300000,5592.073242,Fully Paid,1.118415
28460,36 months,0.1375,340.570007,< 1 year,RENT,35000.0000,debt_consolidation,NY,0,22213,65.900002,12260.310547,Fully Paid,1.226031
28461,36 months,0.0964,160.509995,3 years,MORTGAGE,130000.0000,debt_consolidation,CT,0,20969,40.200001,5778.087891,Fully Paid,1.155618
28462,36 months,0.0743,155.380005,4 years,RENT,200000.0000,house,NY,0,3164,13.700000,5174.194824,Fully Paid,1.034839
28463,36 months,0.1059,32.549999,2 years,MORTGAGE,33990.0000,wedding,VA,0,4485,36.900002,703.979980,Charged Off,0.703980
28464,36 months,0.0807,109.790001,5 years,RENT,98000.0000,credit_card,NJ,1,6432,6.000000,3952.171143,Fully Paid,1.129192
28465,36 months,0.1186,99.440002,2 years,MORTGAGE,36153.0000,debt_consolidation,PEQUE,0,1064,70.900002,3579.662354,Fully Paid,1.193221
28466,36 months,0.1028,113.389999,< 1 year,RENT,20000.0000,moving,MA,0,1882,32.400002,4097.157715,Fully Paid,1.170616
28467,36 months,0.0743,178.690002,10+ years,MORTGAGE,125000.0000,debt_consolidation,MA,0,2817,10.200000,6421.743164,Fully Paid,1.116825
28468,36 months,0.0743,155.380005,6 years,RENT,40000.0000,car,WI,0,2562,14.000000,5593.638672,Fully Paid,1.118728
28469,36 months,0.0964,205.449997,1 year,RENT,60000.0000,moving,WI,0,3362,69.300003,7395.962402,Fully Paid,1.155619
28470,36 months,0.1249,401.369995,9 years,OWN,75000.0000,credit_card,FL,0,43039,93.400002,14449.288086,Fully Paid,1.204107
28471,36 months,0.1343,678.080017,6 years,MORTGAGE,145000.0000,credit_card,FL,0,41674,74.099998,20341.460938,Charged Off,1.017073
28472,36 months,0.1154,39.599998,< 1 year,RENT,20000.0000,credit_card,PEQUE,0,1153,75.800003,1425.369995,Fully Paid,1.187808
28473,36 months,0.1059,398.690002,3 years,RENT,60000.0000,small_business,FL,1,17214,8.100000,13128.883789,Fully Paid,1.071746
28474,36 months,0.1596,94.879997,1 year,RENT,52200.0000,debt_consolidation,MA,0,3075,92.300003,3415.389893,Fully Paid,1.264959
28475,36 months,0.0901,159.029999,1 year,MORTGAGE,250000.0000,other,NY,2,14354,36.599998,5725.016113,Fully Paid,1.145003
28476,36 months,0.0996,112.870003,< 1 year,RENT,13500.0000,educational,FL,0,2864,41.099998,3942.013184,Fully Paid,1.126289
28477,36 months,0.0743,155.380005,8 years,MORTGAGE,150000.0000,home_improvement,GA,0,6053,19.500000,5174.187012,Fully Paid,1.034837
28478,36 months,0.0743,155.380005,7 years,MORTGAGE,95000.0000,vacation,MA,0,3660,6.800000,5593.631836,Fully Paid,1.118726
28479,36 months,0.1059,813.650024,2 years,RENT,48000.0000,small_business,NY,0,2422,23.299999,29269.955078,Fully Paid,1.170798

In [123]:
cat_vars = ['term', 'emp_length', 'home_ownership', 'purpose','STATE']
set(cat_vars)

{'STATE', 'emp_length', 'home_ownership', 'purpose', 'term'}

In [130]:
from pyspark.ml.feature import OneHotEncoder, StringIndexer
from pyspark.ml import Pipeline
import pyspark.ml.feature as ft
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml.classification import LogisticRegression, LogisticRegressionModel

trainingData, testData = datos2.randomSplit([0.7,0.3], seed=0) # need to ensure same split for each time


indexers = [StringIndexer(inputCol=column, outputCol=column+"_index") for column in cat_vars]
encoders = [OneHotEncoder(dropLast=False, inputCol=indexer.getOutputCol(), outputCol="{0}_encoded".format(indexer.getOutputCol())) for indexer in indexers]

stringIndexer = [StringIndexer(inputCol='loan_status', outputCol="loan_status_Index")]
features =['int_rate','installment','annual_inc','revol_bal','revol_util','coctotal','delinq_2yrs','term_index_encoded','emp_length_index_encoded','purpose_index_encoded','STATE_index_encoded','home_ownership_index_encoded']


vectorizer =[VectorAssembler(inputCols = features, outputCol= 'features')]

# REG. LOGISTICA

In [47]:
#Modelo reg. logistica
logr = [LogisticRegression(maxIter=10, labelCol="loan_status_Index", featuresCol="features")]

pipeline = Pipeline(stages=indexers + encoders + stringIndexer+vectorizer+logr)

#hiperparametros
# paramGrid = ParamGridBuilder().addGrid(logr[0].elasticNetParam, [0, 0.5, 0.9]).addGrid(logr[0].regParam, [0.01, 0.1, 0.5]).build()
paramGrid = ParamGridBuilder().addGrid(logr[0].regParam, [0,0.00001,0.000001,0.00000001]).addGrid(logr[0].elasticNetParam, [0,0.0001,0.00001]).build()

evaluator = BinaryClassificationEvaluator(rawPredictionCol="prediction", \
                    labelCol="loan_status_Index",metricName="areaUnderROC")

#cross-validation
crossval = CrossValidator(estimator= pipeline,
                           estimatorParamMaps = paramGrid,
                           evaluator = evaluator,
                           numFolds = 3) 

#Entreno en train
logrModel = crossval.fit(trainingData)


#Obtengo predicciones
lrPredictions = logrModel.transform(testData)

#score?
evaluator.evaluate(lrPredictions)

0.8276003902233238

In [ ]:
from pyspark.ml.feature import OneHotEncoder, StringIndexer
from pyspark.ml import Pipeline
import pyspark.ml.feature as ft
from pyspark.ml.feature import VectorAssembler

evaluator = BinaryClassificationEvaluator(rawPredictionCol="prediction", \
                    labelCol="loan_status_Index",metricName="areaUnderROC")

indexers = [StringIndexer(inputCol=column, outputCol=column+"_index") for column in cat_vars]
encoders = [OneHotEncoder(dropLast=False, inputCol=indexer.getOutputCol(), outputCol="{0}_encoded".format(indexer.getOutputCol())) for indexer in indexers]
stringIndexer = [StringIndexer(inputCol='loan_status', outputCol="loan_status_Index")]
vectorizer =[VectorAssembler(inputCols = features, outputCol= 'features')]

pipeline = Pipeline(stages=indexers + encoders + stringIndexer+vectorizer)

data3 = pipeline.fit(datos2).transform(datos2)

trainingData, testData = data3.randomSplit([0.7,0.3], seed=0) # need to ensure same split for each time

In [48]:
print (logrModel.bestModel._java_obj.getRegParam())
print (logrModel.bestModel._java_obj.getElasticNetParam())

AttributeError: 'PipelineModel' object has no attribute '_java_obj'

# RANDOM FOREST

In [87]:
from pyspark.ml.classification import RandomForestClassifier
from time import time

t0 = time()

rmClassifer = [RandomForestClassifier(labelCol="loan_status_Index", featuresCol="features")]
pipeline = Pipeline(stages=indexers + encoders + stringIndexer+vectorizer+rmClassifer)

paramGrid_rf = ParamGridBuilder() \
    .addGrid(rmClassifer[0].maxDepth, [3,4]) \
    .addGrid(rmClassifer[0].maxBins, [20,50]) \
    .addGrid(rmClassifer[0].numTrees, [100,500])\
    .build()

crossval = CrossValidator(estimator= pipeline,
                           estimatorParamMaps = paramGrid_rf,
                           evaluator = evaluator,
                           numFolds = 3) 

rfModel = crossval.fit(trainingData)

rfPredictions = rfModel.transform(testData)
print (evaluator.evaluate(rfPredictions))

tt= time() - t0

print("Classifier trained in {} seconds".format(round(tt,3)))

Classifier trained in 803.252 seconds

# GRADIENT BOOSTING

In [134]:
from time import time
from pyspark.ml.classification import GBTClassifier
t0 = time()


gbt = [GBTClassifier(labelCol="loan_status_Index", featuresCol="features")]
pipelinegbt = Pipeline(stages=indexers + encoders + stringIndexer+vectorizer+gbt)


paramGrid_gbt = ParamGridBuilder() \
    .addGrid(gbt[0].maxDepth, [2, 3, 4]) \
    .addGrid(gbt[0].maxIter, [2,4,6]) \
    .addGrid(gbt[0].maxBins, [15,32])  \
    .build()

crossval_gbt = CrossValidator(estimator = pipelinegbt,
                          estimatorParamMaps = paramGrid_gbt,
                          evaluator = evaluator,
                          numFolds = 3) 

# Run cross-validation, and returns the best model.
cvModel_gbt= crossval_gbt.fit(trainingData)

# NOW USE OVER TEST
predictionCV_gbt = cvModel_gbt.transform(testData)
print(evaluator.evaluate(predictionCV_gbt))

tt = time() - t0
print("Classifier trained in {} seconds".format(round(tt,3)))

0.9106532636752245
Classifier trained in 931.324 seconds

In [135]:
931.324/60

15.522066666666666

# DECISION TREE

In [62]:
from pyspark.ml.classification import DecisionTreeClassifier

dt = [DecisionTreeClassifier(labelCol="loan_status_Index", featuresCol="features")]

pipeline_dt = Pipeline(stages=indexers + encoders + stringIndexer+vectorizer+dt)


paramGrid_dt = ParamGridBuilder() \
    .addGrid(dt[0].maxDepth, [1,2,6,10]) \
    .addGrid(dt[0].maxBins, [20, 50, 100]) \
    .addGrid(dt[0].impurity, ['gini','entropy']).build()
    

crossval_dt = CrossValidator(estimator = pipeline_dt,
                          estimatorParamMaps = paramGrid_dt,
                          evaluator = evaluator,
                          numFolds = 3) 

# Run cross-validation, and returns the best model.
cvModel_dt= crossval_dt.fit(trainingData)

# NOW USE OVER TEST
predictionCV_dt = cvModel_dt.transform(testData)
evaluator.evaluate(predictionCV_dt)

0.7647343581089988

In [88]:
print('The best MaxDepth is:', cvModel_dt.bestModel._java_obj.getMaxDepth())

AttributeError: 'PipelineModel' object has no attribute '_java_obj'

# MULTILAYER PERCEPTRON

In [69]:
from pyspark.ml.classification import MultilayerPerceptronClassifier


pipeline_mpc = Pipeline(stages=indexers + encoders + stringIndexer+vectorizer)
model = pipeline_mpc.fit(trainingData)

mlp = MultilayerPerceptronClassifier(labelCol="loan_status_Index", featuresCol="features",maxIter=100, layers=[2, 2, 2], blockSize=1, seed=123)


paramGrid_mpc = ParamGridBuilder() \
    .addGrid(mpc[0].maxIter, [50,100,150]) \
    .addGrid(mpc[0].blockSize, [1]) \
    .addGrid(mpc[0].tol, [1e-6]).build()
    
#   .addGrid(mpc[0].layers, [2, 2, 2]) \

crossval_mpc = CrossValidator(estimator = pipeline_mpc,
                          estimatorParamMaps = paramGrid_mpc,
                          evaluator = evaluator,
                          numFolds = 3) 

# Run cross-validation, and returns the best model.
cvModel_mpc= crossval_mpc.fit(trainingData)

# NOW USE OVER TEST
predictionCV_mpc = cvModel_mpc.transform(testData)
evaluator.evaluate(predictionCV_mpc)

Py4JJavaError: An error occurred while calling o92112.evaluate.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 9057.0 failed 1 times, most recent failure: Lost task 0.0 in stage 9057.0 (TID 8776, localhost, executor driver): org.apache.spark.SparkException: Failed to execute user defined function($anonfun$1: (vector) => double)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIterator.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$8$$anon$1.hasNext(WholeStageCodegenExec.scala:377)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at org.apache.spark.util.collection.ExternalSorter.insertAll(ExternalSorter.scala:191)
	at org.apache.spark.shuffle.sort.SortShuffleWriter.write(SortShuffleWriter.scala:63)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:96)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:53)
	at org.apache.spark.scheduler.Task.run(Task.scala:99)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:322)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)
	at java.lang.Thread.run(Unknown Source)
Caused by: java.lang.IllegalArgumentException: requirement failed: A & B Dimension mismatch!
	at scala.Predef$.require(Predef.scala:224)
	at org.apache.spark.ml.ann.BreezeUtil$.dgemm(BreezeUtil.scala:41)
	at org.apache.spark.ml.ann.AffineLayerModel.eval(Layer.scala:164)
	at org.apache.spark.ml.ann.FeedForwardModel.forward(Layer.scala:483)
	at org.apache.spark.ml.ann.FeedForwardModel.predict(Layer.scala:530)
	at org.apache.spark.ml.classification.MultilayerPerceptronClassificationModel.predict(MultilayerPerceptronClassifier.scala:317)
	at org.apache.spark.ml.classification.MultilayerPerceptronClassificationModel.predict(MultilayerPerceptronClassifier.scala:291)
	at org.apache.spark.ml.PredictionModel$$anonfun$1.apply(Predictor.scala:193)
	at org.apache.spark.ml.PredictionModel$$anonfun$1.apply(Predictor.scala:192)
	... 15 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1435)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1423)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1422)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1422)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:802)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:802)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:802)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1650)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1605)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1594)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:628)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1925)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1938)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1951)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1965)
	at org.apache.spark.rdd.RDD$$anonfun$collect$1.apply(RDD.scala:936)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:362)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:935)
	at org.apache.spark.mllib.evaluation.BinaryClassificationMetrics.x$4$lzycompute(BinaryClassificationMetrics.scala:192)
	at org.apache.spark.mllib.evaluation.BinaryClassificationMetrics.x$4(BinaryClassificationMetrics.scala:146)
	at org.apache.spark.mllib.evaluation.BinaryClassificationMetrics.confusions$lzycompute(BinaryClassificationMetrics.scala:148)
	at org.apache.spark.mllib.evaluation.BinaryClassificationMetrics.confusions(BinaryClassificationMetrics.scala:148)
	at org.apache.spark.mllib.evaluation.BinaryClassificationMetrics.createCurve(BinaryClassificationMetrics.scala:223)
	at org.apache.spark.mllib.evaluation.BinaryClassificationMetrics.roc(BinaryClassificationMetrics.scala:86)
	at org.apache.spark.mllib.evaluation.BinaryClassificationMetrics.areaUnderROC(BinaryClassificationMetrics.scala:97)
	at org.apache.spark.ml.evaluation.BinaryClassificationEvaluator.evaluate(BinaryClassificationEvaluator.scala:87)
	at sun.reflect.GeneratedMethodAccessor398.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Unknown Source)
Caused by: org.apache.spark.SparkException: Failed to execute user defined function($anonfun$1: (vector) => double)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIterator.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$8$$anon$1.hasNext(WholeStageCodegenExec.scala:377)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at org.apache.spark.util.collection.ExternalSorter.insertAll(ExternalSorter.scala:191)
	at org.apache.spark.shuffle.sort.SortShuffleWriter.write(SortShuffleWriter.scala:63)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:96)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:53)
	at org.apache.spark.scheduler.Task.run(Task.scala:99)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:322)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)
	... 1 more
Caused by: java.lang.IllegalArgumentException: requirement failed: A & B Dimension mismatch!
	at scala.Predef$.require(Predef.scala:224)
	at org.apache.spark.ml.ann.BreezeUtil$.dgemm(BreezeUtil.scala:41)
	at org.apache.spark.ml.ann.AffineLayerModel.eval(Layer.scala:164)
	at org.apache.spark.ml.ann.FeedForwardModel.forward(Layer.scala:483)
	at org.apache.spark.ml.ann.FeedForwardModel.predict(Layer.scala:530)
	at org.apache.spark.ml.classification.MultilayerPerceptronClassificationModel.predict(MultilayerPerceptronClassifier.scala:317)
	at org.apache.spark.ml.classification.MultilayerPerceptronClassificationModel.predict(MultilayerPerceptronClassifier.scala:291)
	at org.apache.spark.ml.PredictionModel$$anonfun$1.apply(Predictor.scala:193)
	at org.apache.spark.ml.PredictionModel$$anonfun$1.apply(Predictor.scala:192)
	... 15 more

# XGB

In [ ]:
from time import time
t0 = time()
tt = time() - t0